name: Build and Push Kafka Images

on:
  push:
    branches:
      - main
    paths:
      - 'kafka-deploy/*.yaml'
     
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: docker build -t thapak010189/kafka-custom-image:latest .

    - name: Push Docker image
      run: docker push thapak010189/kafka-custom-image:latest
